<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlets.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/hello-world</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstJsp</servlet-name>
        <jsp-file>/FirstJsp.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstJsp</servlet-name>
        <url-pattern>/example-jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondJsp</servlet-name>
        <jsp-file>/SecondJsp.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecondJsp</servlet-name>
        <url-pattern>/second-jsp</url-pattern>
    </servlet-mapping>
</web-app>