<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlets.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/hello-world</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstJsp</servlet-name>
        <jsp-file>/FirstJsp.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstJsp</servlet-name>
        <url-pattern>/example-jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondJsp</servlet-name>
        <jsp-file>/SecondJsp.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecondJsp</servlet-name>
        <url-pattern>/second-jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>servlets.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/second_page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ThirdJsp</servlet-name>
        <jsp-file>/ThirdJsp.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThirdJsp</servlet-name>
        <url-pattern>/third-jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ThirdServlet</servlet-name>
        <servlet-class>servlets.ThirdServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThirdServlet</servlet-name>
        <url-pattern>/third-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Redirect</servlet-name>
        <jsp-file>/Redirect.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>servlets.SessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/count</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>servlets.Cart</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showCart</servlet-name>
        <jsp-file>/showCart.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>showCart</servlet-name>
        <url-pattern>/showCart.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetCookiesServlet</servlet-name>
        <servlet-class>servlets.SetCookiesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetCookiesServlet</servlet-name>
        <url-pattern>/set-cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCookiesServlet</servlet-name>
        <servlet-class>servlets.GetCookiesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCookiesServlet</servlet-name>
        <url-pattern>/get-cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>servlets.DeleteCookiesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/delete-cookies</url-pattern>
    </servlet-mapping>


</web-app>